<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yami.mapper.MerchantMapper">
    <sql id="lastModifiedDate">
        lastModifiedDate = now()
    </sql>

    <select id="getMerchantById" resultType="Merchant">
        SELECT * FROM Merchant WHERE id = #{0}
    </select>
    <select id="getMerchantsByVerifyStatus" resultType="Merchant">
		SELECT * FROM Merchant WHERE verifyStatus = #{0} limit #{1},#{2}
	</select>
    <select id="countMerchantsByVerifyStatus" resultType="long">
		SELECT count(*) FROM Merchant WHERE verifyStatus = #{0}
	</select>
    <update id="passMerchant" parameterType="long">
		UPDATE Merchant set verifyStatus =  1,
		<include refid="lastModifiedDate"></include>
		where id = #{0}
	</update>
    <update id="rejectMerchant" parameterType="long">
		UPDATE Merchant set verifyStatus =  2 ,
        <include refid="lastModifiedDate"></include>
        where id = #{0}
	</update>
    <update id="saveAndPass" parameterType="Merchant">
        UPDATE Merchant
        set
        <if test="name != null">
            name = #{name},
        </if>
        <if test="address != null">
            address = #{address},
        </if>
        <if test="phone != null">
            phone = #{phone},
        </if>
        <if test="pictures != null">
            pictures = #{pictures},
        </if>
        <if test="isRest != null">
            isRest = #{isRest},
        </if>
        <if test="messHall != null">
            messHall = #{messHall},
        </if>
        <if test="countOfMessHall != null">
            countOfMessHall = #{countOfMessHall},
        </if>
        <if test="selfPickup != null">
            selfPickup = #{selfPickup},
        </if>
        <if test="supportDelivery != null">
            supportDelivery = #{supportDelivery},
        </if>
        <if test="comment != null">
            comment = #{comment},
        </if>
        <if test="description != null">
            description = #{description}
        </if>,
        <if test="tags != null">
            tags = #{tags},
        </if>
        <if test="businessHours != null">
            businessHours = #{businessHours},
        </if>
        <if test="goodCuisine != null">
            goodCuisine = #{goodCuisine},
        </if>
        <if test="businessDayPerWeek != null">
            businessDayPerWeek = #{businessDayPerWeek},
        </if>
        verifyStatus = 1,
        <include refid="lastModifiedDate"></include>
        where id = #{id}
    </update>

    <update id="update" parameterType="Merchant">
        UPDATE Merchant
        set
        <if test="name != null">
            name = #{name},
        </if>
        <if test="address != null">
            address = #{address},
        </if>
        <if test="phone != null">
            phone = #{phone},
        </if>
        <if test="pictures != null">
            pictures = #{pictures},
        </if>
        <if test="isRest != null">
            isRest = #{isRest},
        </if>
        <if test="messHall != null">
            messHall = #{messHall},
        </if>
        <if test="countOfMessHall != null">
            countOfMessHall = #{countOfMessHall},
        </if>
        <if test="selfPickup != null">
            selfPickup = #{selfPickup},
        </if>
        <if test="supportDelivery != null">
            supportDelivery = #{supportDelivery},
        </if>
        <if test="comment != null">
            comment = #{comment},
        </if>
        <if test="description != null">
            description = #{description}
        </if>,
        <if test="tags != null">
            tags = #{tags},
        </if>
        <if test="businessHours != null">
            businessHours = #{businessHours},
        </if>
        <if test="goodCuisine != null">
            goodCuisine = #{goodCuisine},
        </if>
        <if test="businessDayPerWeek != null">
            businessDayPerWeek = #{businessDayPerWeek},
        </if>
        <include refid="lastModifiedDate"></include>
        where id = #{id}
    </update>

    <select id="getMerchants" parameterType="com.yami.action.merchant.MerchantDto" resultType="Merchant">
        SELECT *
        FROM Merchant
        WHERE
        1=1
        <if test="id !=0">and id = #{id}</if>
        <if test="createFrom !=null">and <![CDATA[createDate >= #{createFrom}]]></if>
        <if test="createTo !=null">and <![CDATA[createDate <= #{createTo}]]></if>
        <if test="verifyStatus !=null and verifyStatus!= -1">and verifyStatus = #{verifyStatus}</if>
        limit #{from},#{rows}
    </select>

    <select id="countMerchants" parameterType="com.yami.action.merchant.MerchantDto" resultType="long">
        SELECT count(*)
        FROM Merchant
        WHERE
        1=1
        <if test="id !=0">and id = #{id}</if>
        <if test="createFrom !=null">and <![CDATA[createDate >= #{createFrom}]]></if>
        <if test="createTo !=null">and <![CDATA[createDate <= #{createTo}]]></if>
        <if test="verifyStatus !=null  and verifyStatus!= -1">and verifyStatus = #{verifyStatus}</if>
    </select>

    <update id="autoOpenMerchant">
        UPDATE Merchant SET
        isAutoOpen = #{1},
        isRest = #{2}
        WHERE id = #{0}
    </update>
</mapper>

