<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yami.mapper.UserMapper">
	<select id="getUserById" parameterType="long" resultType="User">
		SELECT * FROM User WHERE id = #{0}
	</select>

	<update id="updateUserType">
		UPDATE User SET type = #{1} WHERE id = #{0}
	</update>


	<insert id="registerManager" parameterType="Manager">
		INSERT INTO Manager(username,password,createDate,lastVisitedDate)
		VALUES (
		#{username},
		#{password},
		now(),
		now()
		)
	</insert>
	
	<select id="getManagerByName" parameterType="String" resultType="Manager">
		SELECT * FROM Manager
		where username = #{0}
	</select>

</mapper>

